.welcome__img__group img{
    height: 200px;
}

h3{
    font-weight: 700;
    margin: 4rem 3.5rem;
    font-size: 28px;
    font-family: Bw Modelica;
}


.welcome__img__group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    flex-wrap: wrap;
}