.layout__container{
    background: #000;
    width: 100%;
    display:grid;
    color: #fff;
    grid-template-columns: auto 75%;
    grid-template-rows: 10% 20% auto 30%;
    grid-template-areas: 
    'sidebar navbar' 
    'sidebar showcase'
    'sidebar welcome' 
    'sidebar weekend' ;
}




.sidebar{
    grid-area: sidebar;

}

.navbar{
    grid-area: navbar;
}

.showcase{
    grid-area: showcase;
    /* background: green; */
    margin-left: -18px;
}

.welcome{
    grid-area: welcome;
    /* background: yellow; */
}

.weekend{
    grid-area: weekend;
    /* background: purple; */
} 


@media only screen and (max-width: 768px) {
    .layout__container{
        height: 100%;
        grid-template-columns: auto;
        grid-template-rows: 10% 20% auto 30%;
        grid-template-areas: 
        'navbar' 
        'showcase'
        'welcome' 
        'weekend' 
        'sidebar';
    }

    .sidebar{
        display: none;
    }

    .weekend{
        margin-top: 40px;
    }
    
  }
